<ion-view class="list_principal" hide-back-button="true" title="<img src='img/payme_w.png' alt='Payme'>">
	
    <div class="bar bar-subheader blue">
        <div class="tabs">
            <a ng-click="activeNotPaidup()" class="tab-item  {{notPaidupActive}}">Charges</a>
			<a ng-click="activePaidup()" class="tab-item {{paidupActive}}">Finish</a>
        </div>
    </div>    
    <ion-content padding="true" class="has-subheader">
     <p ng-show="! isOnline">{{"label_not_internet" | translate}}</p>
 
     <ion-refresher
    	pulling-text="Pull to refresh..."
    	on-refresh="doRefresh()">
  		</ion-refresher>
		<div class="list list_charges">
            <a ng-click="clientSelected(client)" class="item" collection-repeat="client in  clientList | orderBy:'-createdon'" >
            	{{client.project.description}}
                <strong>{{client.name}} {{client.lastname}}</strong>
                <span>$ {{client.project.cost}}.<sup>00</sup></span>
            	
            </a>
		</div>
    </ion-content>
    
    
    <ion-footer-bar class="total_charges">
    	<strong>TOTAL CHARGES:</strong>
        <span>$ {{clientListTotal}} <sup>00</sup></span><br/>
        
    </ion-footer-bar>
  
</ion-view>
