<ion-view class="list_principal" hide-back-button="true">

    <div class="bar bar-subheader">
        <div class="tabs">
            <a ng-click="activeNotPaidup()" class="tab-item  {{notPaidupActive}}">Charges</a>
			<a ng-click="activePaidup()" class="tab-item {{paidupActive}}">Finish</a>
        </div>
    </div>
    
    <ion-content padding="true" class="has-subheader">
    
		<div class="list list_charges">
            <a ng-click="clientSelected(client)" class="item" collection-repeat="client in  clientList" >
            	{{client.name}} {{client.lastname}} <span><h6>{{client.project.description}}</h6>$ {{client.project.cost}}.<sup>00</sup></span>
            	
            </a>
		</div>
    
    </ion-content>
    
    
    <ion-footer-bar class="total_charges">
    	<strong>TOTAL CHARGES:</strong>
        <span>$ {{clientListTotal}} <sup>00</sup></span>
    </ion-footer-bar>
  
</ion-view>
