<ion-view hide-nav-bar="true" class="login create">

  <ion-content padding="true">
    <h3>CREATE NEW ACCOUNT</h3>
    
    <form>
        <div class="list-inset">
        <label class="item item-input">
            <input type="text"  ng-model="model.name" placeholder="Name" autofocus>
        </label>
        <label class="item item-input">
            <input type="text"  ng-model="model.lastname" placeholder="Last name" >
        </label>
        <label class="item item-input">
            <input type="email" ng-model="model.email" placeholder="E-mail">
        </label>
        <label class="item item-input">
            <input type="password" ng-model="model.password" placeholder="Password">
        </label>
        
        <ion-toggle><a href="#">Accept terms and conditions</a></ion-toggle>
        
        </div>
        <p class="{{showMessageClass}}">{{"error_fields" | translate}}</p>
        <button class="button button-block button-outline button-light" ng-click="createAccount()">Sign Up</button>
        <!-- <a href="#/clientsProjects" class="button button-block button-outline button-light" >Sign Up</a> -->
    </form>
    
	<section class="or_sign">
    	<h2>Or sign up with</h2>
        <a href="#" class="button button-block button-outline button-light"><i class="fa fa-facebook"></i></a>
        <a href="#" class="button button-block button-outline button-light"><i class="fa fa-twitter"></i></a>
	</section> 
    
    <section class="sign_in">
        <a href="#/loginApp" class="button button-block button-outline button-light">SIGN IN IF YOU HAVE AN ACCOUNT</a>
	</section> 
    
    
  </ion-content>
  
</ion-view>
