<ion-view title="<img src='img/payme_w.png' alt='Payme'>">
    
     <ion-nav-bar class="bar blue inside">
         	<ion-nav-back-button></ion-nav-back-button>
           	 <h1 class="title" ><img src="img/payme_w.png" alt="Payme"></h1>
             <ion-nav-buttons side="right">
				<button class="button nav" menu-toggle="right"><i class="fa fa-bars"></i></button>
             </ion-nav-buttons>
             <ion-nav-buttons side="left">	
			 </ion-nav-buttons>
	</ion-nav-bar>
          
	<div class="bar bar-subheader blue">
		<h4>Crear un nuevo adeudo</h4>
    </div>
    
    <ion-content padding="false" class="reminder has-subheader">    
            <div class="list-inset">
            	<!--  <div class="name">
                    <label class="item item-input item-select">
                        <select>
                            <option selected>Mr.</option>
                            <option>Ms.</option>
                            <option>Other</option>
                        </select>
                    </label>
                    
                </div>-->
                <label class="item item-input">
                        <input type="text" ng-model="model.name" ng-change="changeField()" maxlength=40  placeholder="Name">
                </label>
                <label class="item item-input">
                        <input type="text" ng-model="model.lastname" ng-change="changeField()" maxlength=40  placeholder="Last name" >
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="model.company" ng-change="changeField()" maxlength=40  placeholder="Company">
                </label>
                <label class="item item-input">
                        <input type="phone" ng-model="model.phone" ng-change="changeField()" maxlength=20  placeholder="Phone" >
				</label> 
                <label class="item item-input">
                    <input type="email" ng-model="model.email" ng-change="changeField()" maxlength=50  placeholder="E-mail">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="model.description" ng-change="changeField()" maxlength=90  placeholder="Why this charge?">
                </label>
                <label class="item item-input amount">
                    <input type="number" ng-model="model.cost" ng-change="changeField()"  placeholder="Amount $$$" min="1" maxlength="13" >
                </label>
            </div>
            
            
              <section class="txt">              
              	  <span class="preview">Preview of remainder</span>
              	  <buton class="button button-block button-outline button" ng-click="customTextFieldClickEdit(model.disabledCustomText)">Edit message</buton>
	              <label class="item item-input">
	              		
	                    <textarea rows="4"  ng-model="model.customtext" ng-disabled="model.disabledCustomText" maxlength=500  placeholder="Custom text" ></textarea>
	              </label>
	               <!--  <div class="tabs">
                   <a class="tab-item {{activeTemplate1}}" ng-click="setTemplate(1)">Next day biling</a>
                   <a class="tab-item {{activeTemplate2}}" ng-click="setTemplate(2)">Debiting</a>
                   <a class="tab-item {{activeTemplate3}}" ng-click="setTemplate(3)">Own message</a>
            	</div>-->
                <!-- <article>
            	<h4><strong>{{model.name}} {{model.lastname}}</strong></h4>
            	<p>This is a reminder that you debt <br><strong>$ {{model.cost}}<sup>00</sup> USD</strong> to <strong>{{model.userInfo.name}} {{model.userInfo.lastname}}</strong>.</p>
                <p>The reason is <strong>{{model.description}}</strong></p>
                <p>This is an automatic remainder by the app PAYME</p>
                </article> -->
            </section> 
            
            <!-- Secion para añadir fechas de recordatorio esto se agrega al modal reminders-modal1.html -->
            <!--section class="datetime">
            	<span class="preview">Choose a date to send the remainder</span>
	            <div class="list-inset">
                    <div ng-repeat="reminder in model.reminders"> 
                    	<div ng-show="reminder.action!='delete'">
                    	<span  ng-show="!reminder.disableDay" ng-click="btnRemoveDate(reminder)" ng-disabled="reminder.disableDay">Delete</span>
                    	<label class="item item-input">
                        	<!-- <input type="datetime-local" ng-model="reminder" ng-change="changeField()"  min="{{model.dateMin | date:'yyyy-MM-ddTHH:mm'}}" ng-disabled="reminder.invalidDate"> -->
                            <!--
                        	<input type="datetime-local" ng-model="reminder.day" ng-change="changeField()"  min="{{reminder.minDay | date:'yyyy-MM-ddTHH:mm'}}" ng-disabled="reminder.disableDay" >
                    	</label>
                    	</div>
                    </div>
                    <a href="#" class="button button-block button-outline button-small" ng-click="btnAddDate()" ng-disabled="!model.maxReminders >0 ">Add more dates</a>
                </div>
		         <button class="button button-block button-outline button-small now" ng-click="createOrSendReminder(true)" ng-disabled="model.btnSendNowDisabled">Send remainder now</button>
            </section>
            -->
    </ion-content>
       
    
    
    <ion-footer-bar class="tab_modals">
   
        <!-- Version 2: Begin Iconos para abrir los modals -->
        <div class="tabs-striped tabs-color-assertive">
            <div class="tabs" ">
              <a class="tab-item" ng-click="openModal(1)" ng-disabled="model.footerDisabled">
                <i class="icon-remind"></i>
              </a>
              <a class="tab-item" ng-click="openModal(2)"  ng-disabled="model.footerDisabled">
                <i class="icon-save"></i>
              </a>
              <a class="tab-item" ng-click="openModal(3)"  ng-disabled="model.footerDisabled">
                <i class="icon-send"></i>
              </a>
              <!-- a class="tab-item" ng-click="openModal(4)"  ng-disabled="model.footerDisabled">
                <i class="icon-pay"></i>
              </a-->
            </div>
        </div>
        <!-- Version 2: End Iconos para abrir los modals -->
        
        <!-- Version 1: Botones para guardar y editar recordatorio -->
           <!--button ng-show="model.paramMode == 1" class="button button-block button-outline button-light" ng-click="createOrSendReminder(false)" ng-disabled="model.btnCreateDisabled">Create</button-->
           <!--button ng-show="model.paramMode == 2" class="button button-block button-outline button-light" ng-click="createOrSendReminder(false)" ng-disabled="model.btnUpdateDisable">Update</button-->
            <!--  <a href="#/clientsProjects" class="button button-block button-outline button-light button-small">Create</a>-->
	</ion-footer-bar>
  
</ion-view>
