<ion-view class="list_principal" hide-back-button="true">

    <div class="bar bar-subheader">
        <div class="tabs">
            <a class="tab-item active">Charges</a>
			<a class="tab-item">Finish</a>
        </div>
    </div>
    
    <ion-content padding="true" class="has-subheader">
    
		<div class="list list_charges">
            <a href="#" class="item">Lorem Ipsun Dolor <span>$ 12,750.<sup>00</sup></span></a>
            <a href="#" class="item">Pedro Ramirez <span>$ 1,250.<sup>00</sup></span></a>
            <a href="#" class="item">Michael Jackson <span>$ 4,100.<sup>00</sup></span></a>
            <a href="#" class="item">Daniel Trejo <span>$ 23,350.<sup>00</sup></span></a>
            <a href="#" class="item">Lorem Ipsun Dolor <span>$ 12,750.<sup>00</sup></span></a>
            <a href="#" class="item">Pedro Ramirez <span>$ 1,250.<sup>00</sup></span></a>
            <a href="#" class="item">Michael Jackson <span>$ 4,100.<sup>00</sup></span></a>
            <a href="#" class="item">Daniel Trejo <span>$ 23,350.<sup>00</sup></span></a>
            <a href="#" class="item">Lorem Ipsun Dolor <span>$ 12,750.<sup>00</sup></span></a>
            <a href="#" class="item">Pedro Ramirez <span>$ 1,250.<sup>00</sup></span></a>
            <a href="#" class="item">Michael Jackson <span>$ 4,100.<sup>00</sup></span></a>
            <a href="#" class="item">Daniel Trejo <span>$ 23,350.<sup>00</sup></span></a>
            <a href="#" class="item">Lorem Ipsun Dolor <span>$ 12,750.<sup>00</sup></span></a>
            <a href="#" class="item">Pedro Ramirez <span>$ 1,250.<sup>00</sup></span></a>
            <a href="#" class="item">Michael Jackson <span>$ 4,100.<sup>00</sup></span></a>
            <a href="#" class="item">Daniel Trejo <span>$ 23,350.<sup>00</sup></span></a>
		</div>
    
    </ion-content>
    
    
    <ion-footer-bar class="total_charges">
    	<strong>TOTAL CHARGES:</strong>
        <span>$ 14,750.<sup>00</sup></span>
    </ion-footer-bar>
  
</ion-view>
