<ion-view hide-nav-bar="false" class="login forgot" title='{{"label_forget_password" | translate}}'>


	<ion-nav-bar>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

  <ion-content padding="true">
    <!--h1>PAYME</h1-->
    
    <!--p><strong>{{"label_forget_password" | translate}}</strong>{{"label_enter_email" | translate}}</p-->
    <p>{{"label_enter_email" | translate}}</p>
    
    <form>
        <div class="list-inset">
        <label class="item item-input">
            <input type="email" ng-model="model.email" ng-change="changeField()" maxlength=50  placeholder="E-mail" translate translate-attr-placeholder="placeholder_email" autofocus>
        </label>
        </div>
        <p class="{{showMessageClass}}">{{"error_fields" | translate}}</p>
        <button class="button button-block button-positive" ng-click="changePassword()" ng-disabled="model.passwordDisabled">{{"btn_send" | translate}}</button>
        	
        <button ng-click="goBack()" class="button button-block button-light">{{"btn_cancel" | translate}}</button>
        
    </form>
    
  </ion-content>
  
</ion-view>
