<ion-view hide-nav-bar="true" class="login forgot">

  <ion-content padding="true">
    <h1>PAYME</h1>
    
    <p><strong>{{"label_forget_password" | translate}}</strong>{{"label_enter_email" | translate}}</p>
    
    <form>
        <div class="list-inset">
        <label class="item item-input">
            <input type="email" ng-model="model.email" ng-change="changeField()" placeholder="E-mail" translate translate-attr-placeholder="placeholder_email" autofocus>
        </label>
        </div>
        <p class="{{showMessageClass}}">{{"error_fields" | translate}}</p>
        <a  ng-click="goBack()" class="button button-outline button-light">{{"btn_cancel" | translate}}</a>
        <button class="button button-outline button-light" ng-click="changePassword()" ng-disabled="model.passwordDisabled">{{"btn_send" | translate}}</button>
        
    </form>
    
  </ion-content>
  
</ion-view>
