<ion-view hide-nav-bar="true" class="login forgot">

  <ion-content padding="true">
    <h1>PAYME</h1>
    
    <p><strong>Forget your password?</strong> Enter your mail below to reset your password</p>
    
    <form>
        <div class="list-inset">
        <label class="item item-input">
            <input type="email" placeholder="E-mail" autofocus>
        </label>
        </div>
        <a href="#/loginApp" class="button button-outline button-light">Cancel</a>
        <button class="button button-outline button-light">Send</button>
        
    </form>
    
  </ion-content>
  
</ion-view>
