<ion-view title="<img src='img/payme_w.png' alt='Payme'>">

	<ion-nav-bar class="bar blue inside">
         	<ion-nav-back-button></ion-nav-back-button>
           	 <h1 class="title" ><img src="img/payme_w.png" alt="Payme"></h1>
             <ion-nav-buttons side="right">
				<button class="button nav" menu-toggle="right"><i class="fa fa-bars"></i></button>
             </ion-nav-buttons>
             <ion-nav-buttons side="left">	
			 </ion-nav-buttons>
	</ion-nav-bar>
    
    <div class="bar bar-subheader blue">
	 <h4>Information and Help</h4>
   	</div>

  <ion-content padding="true" class="has-subheader">
    
    	<section class="info and help">
    	<h1>Lorem ipsin dolor sit amet</h1>
    	</section>
    
  </ion-content>
  
</ion-view>
