<ion-modal-view class="reminder_modal">

	<div class="bar bar-header blue">
        <button ng-show="reminderModal1Default == 'show'"  class="button" ng-click="closeModal(4)"><i class="ion-android-close"></i></button>
        <h1 class="title">Pagado</h1>
	</div>
    
    <ion-content class="has-header">
    
    
    
    <!--Begin Colocar aqui el contenido visible de manera inicial -->
    <div class="{{reminderModal1Default}}">
    	<div class="legend">
        	<i class="icon-pay"></i>
        	 <p ng-show="model.project.paidup == '0'" >Tu proyecto será trasladado a pagados.</p>
        	 <p ng-show="model.project.paidup == '1'" >Tu proyecto aparecerá en adeudos.</p>
        </div>
	</div>
    
      
      <!--Begin Colocar aqui el contenido oculto hasta guardar -->
      <div class="{{reminderModal1Success}}">
	    <div class="legend">
        	<i class="icon-pay"></i>
        	<p ng-show="model.project.paidup == '0'" >El proyecto ha sido marcado como pagado.</p>
        	 <p ng-show="model.project.paidup == '1'" >El proyecto ha sido marcado como no pagado.</p>
        </div>
      </div>
      <!--end Colocar aqui el contenido oculto hasta guardar -->
    </ion-content>
    
    <ion-footer-bar>	   
	   <button ng-show="model.project.paidup == '0' && reminderModal1Default == 'show'" ng-click="paidup()"  class="button button-block button-assertive">Pagado.</button>
	   <button ng-show="model.project.paidup == '1' && reminderModal1Default == 'show'" ng-click="paidup()"  class="button button-block button-assertive">Mandar a adeudos</button>
	   
	   <!-- Boton para regresar al listado de proyectos --> 
	    <button ng-show="reminderModal1Success == 'show'" ng-click="goToClientsProjects(4)"  class="button button-block button-assertive">Regresar al inicio.</button>
    </ion-footer-bar>
    
</ion-modal-view>