<ion-modal-view class="reminder_modal">

	<div class="bar bar-header blue">
        <button class="button" ng-click="closeModal(1)"><i class="ion-android-close"></i></button>
        <h1 class="title">Programar recordatorios</h1>
	</div>
    
    <ion-content class="has-header">
    
    
    
    <!--Begin Colocar aqui el contenido visible de manera inicial -->
    <div class="{{reminderModal1Default}}">
    
    	<div class="legend">
        	<i class="icon-remind"></i>
        	Programa el envio del recordatorio<br>por E-mail a tu cliente
        </div>
    	<section class="datetime">
	            <div class="list-inset">
                    <div ng-repeat="reminder in model.reminders"> 
                    	<div ng-show="reminder.action!='delete'">
                    	
                        
                    	<span  ng-show="!reminder.disableDay" ng-click="btnRemoveDate(reminder)" ng-disabled="reminder.disableDay" class="delete"><i class="fa fa-times"></i></span>
                    	<label class="item item-input">
                        	<!-- <input type="datetime-local" ng-model="reminder" ng-change="changeField()"  min="{{model.dateMin | date:'yyyy-MM-ddTHH:mm'}}" ng-disabled="reminder.invalidDate"> -->
                        	<input type="datetime-local" ng-model="reminder.day" ng-change="changeField()"  min="{{reminder.minDay | date:'yyyy-MM-ddTHH:mm'}}" ng-disabled="reminder.disableDay" >
                    	</label>
                    	</div>
                    </div>
                    <a href="#" class="button button-block button-small" ng-click="btnAddDate()" ng-disabled="!model.maxReminders >0 ">Add more dates</a>
                    
                    <small>Solo puedes agregar tres</small>
                    <small>Solo puede ser uno por día</small>
                </div>
                 <!-- se quita boton de enviar ahora  y se agrega al modal de send-modal3.html-->
		         <!--button class="button button-block button-outline button-small now" ng-click="createOrSendReminder(true)" ng-disabled="model.btnSendNowDisabled">Send remainder now</button-->
            </section>
    
	</div>
    
      
      <!--Begin Colocar aqui el contenido oculto hasta guardar -->
      <div class="{{reminderModal1Success}}">
	    <div class="legend">
        	<i class="icon-remind"></i>
        	Se han programado correctamente tus adeudos.
        </div>
      </div>
      <!--end Colocar aqui el contenido oculto hasta guardar -->
    </ion-content>
    
    <ion-footer-bar>
	    <button ng-show="model.paramMode == 1 && reminderModal1Default == 'show'" ng-click="createOrSendReminder(false)" ng-disabled="model.btnCreateDisabled" class="button button-block button-assertive">Guardar</button>
	    <button ng-show="model.paramMode == 2 && reminderModal1Default == 'show'" ng-click="createOrSendReminder(false)" ng-disabled="model.btnUpdateDisable" class="button button-block button-assertive">Actualizar</button>
	   
	   <!-- Boton para regresar al listado de proyectos --> 
	    <button ng-show="reminderModal1Success == 'show'" ng-click="goToClientsProjects(1)"  class="button button-block button-assertive">Regresar al inicio.</button>
    </ion-footer-bar>
    
</ion-modal-view>