<ion-modal-view class="reminder_modal" title="Save">

	<div class="bar bar-header blue">
         	<!--ion-nav-back-button class="button-icon fa fa-angle-left"></ion-nav-back-button-->
			<button class="button" ng-click="closeModal(2)"><i class="ion-android-close"></i></button>
           	<h1 class="title">Guardar adeudo</h1>
	</div>
    
    <ion-content class="has-header padding">
    
    <!--Begin Colocar aqui el contenido visible de manera inicial -->
    <div class="legend_save {{reminderModal1Default}}">
    	  <i class="icon-save"></i>
	      Solo aparecera en tu lista de adeudos.
	</div>
    <!--end Colocar aqui el contenido visible de manera inicial -->
    
      
      <!--Begin Colocar aqui el contenido oculto hasta guardar -->
      <div class="legend_save {{reminderModal1Success}} hide"><!-- quitar clase hide -->
    	  <i class="icon-save"></i>
      	<p>Has guardado exitosamente tu adeudo.</p>
      </div>
      
      <!--end Colocar aqui el contenido oculto hasta guardar -->
      
    </ion-content>
    
    <ion-footer-bar>
	    <button class="button button-block button-assertive">Guardar</button>
    </ion-footer-bar>
    
</ion-modal-view>