<ion-modal-view class="reminder_modal">

	<div class="bar bar-header blue">
        <button ng-show="reminderModal1Default == 'show'"  class="button" ng-click="closeModal(3)"><i class="fa fa-times"></i></button>
        <h1 class="title">Enviar recordatorio.</h1>
	</div>
    
    <ion-content class="has-header">
    
    
    
    <!--Begin Colocar aqui el contenido visible de manera inicial -->
    <div class="{{reminderModal1Default}}">
    	<div class="legend">
        	<i class="icon-remind"></i>
        	Enviarás un correo a tu cliente solicitando lo adeudado.
        </div>
	</div>
    
      
      <!--Begin Colocar aqui el contenido oculto hasta guardar -->
      <div class="{{reminderModal1Success}}">
	    <div class="legend">
        	<i class="icon-remind"></i>
        	Se han programado correctamente tus adeudos.
       	    <button ng-show="reminderModal1Success == 'show'" class="button button-block button-assertive">Compartir.</button> 	
        </div>
      </div>
      <!--end Colocar aqui el contenido oculto hasta guardar -->
    </ion-content>
    
    <ion-footer-bar>	   
	   <button ng-show="reminderModal1Default == 'show'" ng-click="createOrSendReminder(true)"  class="button button-block button-assertive">Enviar ahora.</button>
	   
	   <!-- Boton para regresar al listado de proyectos --> 
	    <button ng-show="reminderModal1Success == 'show'" ng-click="goToClientsProjects(3)"  class="button button-block button-assertive">Regresar al inicio.</button>
    </ion-footer-bar>
    
</ion-modal-view>