<ion-nav-back-button class="button-icon fa fa-angle-left"></ion-nav-back-button>
            <h1 class="title">PAYME</h1>
             <ion-nav-buttons side="primary">
             	<button class="" menu-toggle="right"><i class="ion-navicon"></i></button>
             </ion-nav-buttons>
             <ion-nav-buttons side="left">
              <button class="button" menu-toggle="left"><i class="ion-notification"></i></button>
              <button class="button" menu-toggle="left"><i class="ion-search"></i></button>
            </ion-nav-buttons>