<ion-header-bar>
	<h1 class="title">Notifications</h1>
</ion-header-bar>

<ion-content>

	<div class="list list-inset">
    	<div class="item">
            <span>Answer for your reminder</span>
            <h1>Daniel Trejo</h1>
            <strong>$ 350.<sup>00</sup></strong>
        	<button class="button button-outline button-light">CHECK</button>
        </div>
    	<div class="item">
            <span>Answer for your reminder</span>
            <h1>Daniel Trejo</h1>
            <strong>$ 350.<sup>00</sup></strong>
        	<button class="button button-outline button-light">CHECK</button>
        </div>
    	<div class="item">
            <span>Answer for your reminder</span>
            <h1>Daniel Trejo</h1>
            <strong>$ 350.<sup>00</sup></strong>
        	<button class="button button-outline button-light">CHECK</button>
        </div>
    	<div class="item">
            <span>Answer for your reminder</span>
            <h1>Daniel Trejo</h1>
            <strong>$ 350.<sup>00</sup></strong>
        	<button class="button button-outline button-light">CHECK</button>
        </div>
    	<div class="item">
            <span>Answer for your reminder</span>
            <h1>Daniel Trejo</h1>
            <strong>$ 350.<sup>00</sup></strong>
        	<button class="button button-outline button-light">CHECK</button>
        </div>
    </div>

</ion-content>

<ion-footer-bar>
	<button class="button button-block button-light button-outline">CLEAR NOTIFICATIONS</button>
</ion-footer-bar>

