<ion-header-bar>
	<h1 class="title">Notifications</h1>
</ion-header-bar>

<ion-content>

	<div class="list list-inset">
		<div class="item answer" ng-repeat="reminderAnswered in  model.remindersAnswered">
            <span>*The reminder has been answered:</span>
            <h1>{{reminderAnswered.clientName}} {{reminderAnswered.company}} </h1>
            <strong>{{reminderAnswered.description}}</strong>
            <h2>${{reminderAnswered.cost}}<sup>00</sup></h2>
        	<button class="button button-outline button-light" ng-click="checkReminderAnswered($index,reminderAnswered)">CHECK</button>
            <b class="fa-stack icono_notification">
                <i class="fa fa-comment fa-stack-2x"></i>
                <i class="fa fa-reply fa-stack-1x fa-inverse"></i>
            </b>
        </div>
	
    	<div class="item envelope" ng-repeat="reminderSent in  model.remindersSent" ng-click="notificationSelected(reminderSent)">
            <span>The reminder has been sent:</span>
            <h1>{{reminderSent.clientName}} {{reminderSent.company}} </h1>
            <strong>{{reminderSent.description}}</strong>
            <!--h2>${{reminderSent.cost}}<sup>00</sup></h2-->
        	<button class="button" ng-click="checkReminder($index,reminderSent)"><i class="fa fa-times"></i></button>
            <b class="icono_notification">
                <i class="icon-send"></i>
            </b>
        </div>
    </div>

</ion-content>

<ion-footer-bar>
	<button class="button button-block button-assertive" ng-click="clearNotifications()" ng-disabled="! model.totalNotifications > 0 ">CLEAR NOTIFICATIONS</button>
</ion-footer-bar>

