			 <ion-header-bar class="bar-stable">
			 	<section>
					 <!-- <img src="img/logo_edo_mex.png" class="logo"> -->
	 				<button menu-close><i class="fa fa-close"></i></button>
     			</section>
      			<h1 class="title">Menú derecho</h1>
    		</ion-header-bar>
		    <ion-content>
		    <h1 class="title">Daniel Trejo</h1>
      			@daniel
		      <ion-list>
		        <!--  <ion-item menu-close ng-click="login()">
		          Login
		        </ion-item>-->
		        <ion-item menu-close href="#/settings">
		          Settings
		        </ion-item>
		        <ion-item menu-close href="#/trash">
		          Trash
		        </ion-item>
		        <ion-item menu-close href="#/help">
		          Help
		        </ion-item>
		      </ion-list>
		    </ion-content>
