<ion-header-bar>
    <h1 class="title"></h1>
</ion-header-bar>

<ion-content padding="true">
    
    <div class="list card">
        <div class="item item-avatar">
        <img src="img/user.png">
        <h2>Daniel Trejo</h2>
        <p>@danieltrejo</p>
        </div>
    </div>  
    
    <div class="list list-inset">
        <a href="#/settings" class="item item-icon-left" menu-toggle="right">
            <i class="icon ion-ios-gear-outline"></i> Settings
        </a>
        <a href="#/trash" class="item item-icon-left" menu-toggle="right">
            <i class="icon ion-ios-trash-outline"></i> Trash
        </a>
        <a href="#/help" class="item item-icon-left" menu-toggle="right">
            <i class="icon ion-ios-help-outline"></i> Information and Help
        </a>
        <a href="" ng-click="logout()" class="item item-icon-left" menu-toggle="right">
            <i class="icon ion-log-out"></i> Log out
        </a>
    </div>
  
</ion-content>
